/** RICHFACES STYLES **/
.rf-dt-shdr {
	background-color: #E9F1F4;
}

.rf-dt .rf-dt-shdr-c {
	border: 0px none;
	background: transparent;
	text-align: left;
	
	font-size: 15px;
	color: #585858;
	padding: 8px 3px;
}

.rf-dt .rf-dt-c {
	font-size: 13px;
	border: 0px;
}

.rf-dt .rf-dt-c a {
	font-size: 13px;
}

.rf-insp-inc {
	background-image: url("../images/spinner-down.png") !important;
	cursor: pointer !important;
	height: 13px !important;
	width: 25px !important;
}

.rf-insp-dec {
	background-image: url("../images/spinner-up.png") !important;
	cursor: pointer !important;
	height: 13px !important;
	width: 25px !important;
}

.rf-insp {
	border: 1px solid #D8DEE2 !important;
}

.rf-insp-inp {
	width: 300px !important;
	font-size: 110% !important;
	padding: 5px !important;
	
	color: #333333 !important;
    font: 13px/1.4 Helvetica,arial,freesans,clean,sans-serif !important;
}

.rf-fu {
	width: 610px !important;
	border-color: #CCC !important;
	background: none !important;
}

.rf-tt-cntr {
	border: 1px solid #C60 !important;
	font: 13px Helvetica, arial, freesans, clean, sans-serif !important;
}

.rf-pp-cntr {
	border: 0 !important;
	border-radius: 5px;
}

.rf-fu-hdr {
	background-color: #EEE !important;
	background-image: none !important;
	border-color: #EEE !important;
}

.rf-fu-btn-add {
	margin-left: 10px !important;
	border-radius: 3px !important;
	font-weight: bold !important;
	cursor: pointer !important;
	border: 1px solid #aaa !important;
	background: none !important;
}

.rf-fu-btn-cnt-add {
	padding: 10px 25px 10px 40px!important;
	background-position: 9px 9px !important;
	background: url(../images/search.gif) no-repeat 13px center !important;
}

.rf-fu-btn-upl {
	margin-left: 10px !important;
	border-radius: 3px !important;
	font-weight: bold !important;
	padding: 7px 10px !important;
	cursor: pointer !important;
	border: 1px solid #aaa !important;
	background: none !important;
}

.rf-fu-btn-clr {
	margin-left: 10px !important;
	border-radius: 3px !important;
	font-weight: bold !important;
	padding: 7px 10px !important;
	cursor: pointer !important;
	border: 1px solid #aaa !important;
	background: none !important;
}

.rf-fu-inp {
	cursor: pointer !important;
}

.rf-pp-cnt {
	padding-top: 30px !important;
}

.rf-fu-lst {
	height: 55px !important;
}

.rf-fu-itm {
	border: 0 !important;
	padding: 10px !important;
	padding-top: 18px !important;
}

.rf-fu-itm-lbl {
	font: 13px Helvetica, arial, freesans, clean, sans-serif !important;
	line-height: 1.4 !important;
}

.rf-fu-itm-lnk {
/* 	font: bold 13px Helvetica, arial, freesans, clean, sans-serif !important; */
/* 	line-height: 1.4 !important; */
/* 	padding-left: 20px !important; */
/* 	background: url(../images/garbage.png) no-repeat left center !important; */
	display: none !important;
}

.rf-fu-itm-st {
	display: none !important;
}

.rf-fu-btn-add-dis {
	margin-left: 10px !important;
	border-radius: 3px !important;
	font-weight: bold !important;
	border: 1px solid #aaa !important;
	background: none !important;
}

.rf-fu-btn-cnt-add-dis {
	padding: 10px 25px 10px 40px!important;
	background-position: 9px 9px !important;
	background: url(../images/search.gif) no-repeat 13px center !important;
	color: #BDBDBD !important;
	
	opacity: .40;
	-moz-opacity: .40;
	filter:alpha(opacity=40);
}
/** RICHFACES STYLES **/