/** messages **/
.wrapperMessages {
	display: none;
	position: absolute;
	top: 50px;
	width: 100%;
	z-index: 999;
}
.messages {
	border: 2px solid #2D7096;
	border-radius: 5px;
	
	margin: 0px auto;
	width: 600px;
	padding: 10px;
	background-color: #FFF2C8;
	
	font: 13px Helvetica, arial, freesans, clean, sans-serif;
}
.closePopupMessage {
	text-align: right;
	float: right;
	cursor: pointer;
}
.textmessage {
	margin-top: 5px;
	padding: 0 25px;
	background-repeat: no-repeat;
}
.successmessage {
	background-image: url(../images/successmessage-16x16.png);
}
.warningmessage {
	background-image: url(../images/warningmessage-16x16.png);
}
.errormessage {
	background-image: url(../images/errormessage-16x16.png);
}
/** messages **/

/** popup messages **/
.popupMessage {
	padding: 10px;
	width: 740px;
}
.popupErrorMessage {
	background-color:#FFE7E7;
}
.popupSuccessMessage {
	background-color:#CEFFC2;
}
/** popup messages **/