body {
	background-color: white;
	font: 13px Helvetica, arial, freesans, clean, sans-serif;
	line-height: 1.4;
	color: #333;
	height: 100%;
	min-width: 960px;
	display: block;
}

body, div, img, form, p, a, ol, ul {
	margin: 0;
	padding: 0;
	border: 0;
}

ol, ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: #415683;
}
a:hover {
	text-decoration: underline;
}

table {
	border: 0;
}

#wrapper {
}

#header {
	margin:0;
	padding: 0;
	font-size: 20px;
	font-weight: bold;
	color: #888787;
	padding: 15px 0 15px 90px;
	border-bottom:  1px solid #CCC;
	
	background-color: #F0F0F0;
}

#logoHeader {
	float: left;
	margin-right: 50px;
	margin-top: 4px;
}

#headerPrivateLogin {
	text-align: right;
	margin-right: 80px;
}

#headerPrivateLogin img {
	margin-right: 10px;
}

/** LOGIN FORM **/
#loginBox {
	width: 400px;
	margin: auto;
	margin-top: 100px;
}
#loginBoxHeader {
	padding: 0.5em;;
	border: 1px solid #CCC;
	border-radius: 5px 5px 0 0;
	
	font-size: 15px;
	font-weight: bold;
	color: #FFF;
	
	background: #6B99B4;
}
#loginForm {
	padding: 2em;
	border: 1px solid #CCC;
	border-radius: 0 0 5px 5px;
	
	border-top: 0;
	
	background-color: #E9F1F4;
}
.loginInputForm {
	width: 23em;
	padding: 5px;
	border: 1px solid #D8DEE2;
	margin: .2em 0 1em 0;
	font-size: 110%;
}
/** LOGIN FORM **/

/** CUSTOM_BUTTON **/
.customButton {
	border-radius: 3px;
	font-size: 14px;
	padding: 10px;
	color: white;
	cursor: pointer;
	font-weight: bold;
	
	background-color: #3C657C;
	border: 1px solid #aaa;
}
.customButton:hover, .customButton:focus {
	border: 1px solid #62658B;
	background-color: #6B99B4;
}
/** CUSTOM_BUTTON **/

#menuTop {
	padding: 15px 0;
	border-bottom:  1px solid #CCC;
	margin: 15px 0 20px 0;
}

/** MENU ITEM **/
.menuItem {
	margin-left: 15px;
	font-size: 15px;
	font-weight: bold;
	color: #888787;
	
	padding-top: 15px;
	padding-left: 32px;
	padding-right: 5px;
	background-repeat: no-repeat;
}
.menuItem:hover, .menuItem:focus {
	background-color: #EEE;
}
.menuItemSelected {
	border-radius: 3px;
	padding-bottom: 10px;
	background-color: #6B99B4;
	color: #FFF;
	border: 1px solid #AAA;
}
.menuItemSelected:hover, .menuItemSelected:focus {
	border: 1px solid #62658B;
	background-color: #6B99B4;
}
.menuItemAdmin {
	background-image: url(../images/admin.png);
}
.menuItemCategories {
	background-image: url(../images/category_1.png);
}
.menuItemUsers {
	background-image: url(../images/users.png);
}
.menuItemAdvertisementType {
	background-image: url(../images/type.gif);
}
.menuItemAdvertisement {
	background-image: url(../images/adsense.png);
}
.menuItemComments {
	background-image: url(../images/comment_1.png);
}
.menuItemSales {
	background-image: url(../images/emblem-sales.png);
}
/** MENU ITEM **/

/** PANELGROUPIMGSEARCH **/
#panelGroupImgSearch {
	margin-right: 10px;
	cursor: pointer;
	width: 35px;
	height: 25px;
	padding: 0;
	background-image: url(../images/search-1.png);
}
#panelGroupImgSearch:hover {
	background-image: url(../images/search-2.png);
}
/** PANELGROUPIMGSEARCH **/

/** MAIN FORM **/
.mainFormBox {
	width: auto;
	margin: 35px 15px 0 15px;
}
.mainFormHeader {
	padding: 0.5em;;
	border: 1px solid #CCC;
	border-radius: 5px 5px 0 0;
	border-bottom: 0;
	
	background: #6B99B4;
	font-size: 15px;
	font-weight: bold;
	color: #FFF;
}
.mainForm {
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	background-color: #E9F1F4;
}
.mainFormBoxButtons {
	border: 1px solid #CCC;
	padding: 5px 20px;
	border-radius: 0 0 5px 5px;
}
.inputMainForm {
	padding: 5px;
	border: 1px solid #D8DEE2;
	font-size: 110%;
}
.bigInputMainForm {
	width: 600px;
}
.mediumInputMainForm {
	width: 300px;
}
.columnLabel {
	text-align: right;
	width: 100px;
}
.columnInput {
	padding-left: 15px;
}
.buttonMainForm {
	margin-right: 15px;
}

.tableInputForm {
	padding: 10px 25px;
}
.tableFormList {
	width: 100%;
}
.rowOdd {
	background-color: #F8F8F8;
}
.rowOdd:hover {
	background-color: #DFDFDF;
}
.rowEven {
	background-color: #F1F1F1;
}
.rowEven:hover {
	background-color: #DFDFDF;
}
.columnListActions {
	width: 50px;
	text-align: center;
}
.columnListActions img {
	margin-right: 7px;
}
.formFilter {
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
}
/** MAIN FORM **/


/** RICHFACES STYLES **/
.rf-dt-shdr {
	background-color: #E9F1F4;
}

.rf-dt .rf-dt-shdr-c {
	border: 0px none;
	background: transparent;
	text-align: left;
	
	font-size: 15px;
	color: #585858;
	padding: 8px 3px;
}

.rf-dt .rf-dt-c {
	font-size: 13px;
	border: 0px;
}

.rf-dt .rf-dt-c a {
	font-size: 13px;
}
/** RICHFACES STYLES **/