.tableFormList {
	width: 100%;
}
.rowOdd {
	background-color: #F8F8F8;
}
.rowOdd:hover {
	background-color: #DFDFDF;
}
.rowEven {
	background-color: #F1F1F1;
}
.rowEven:hover {
	background-color: #DFDFDF;
}
.simpleRow {
}
.simpleRow:hover {
	background-color: #DFDFDF;
}

.columnListActions {
	width: 90px;
	text-align: left;
}
.columnListActions img {
	margin-right: 7px;
}
