<?xml version="1.0"?>
<gatekeeperbr>
	<!-- (required)
		folder address with or without slash at the end of the String
		(win sample) C:/myDirectoryOutput
		(linux sample) /usr/local/myDirectoryOutput 
	-->
	<outputDirectory>C:/tests</outputDirectory>
	
	<!-- (required) must have just one tag mail, that is the target mail (receiver) with its inner settings -->
	<mail>
		<host>smtphub.uk.mail.db.com</host>
		<mailFrom>daniela.akagui@db.com</mailFrom>
		<!-- target list split by comma -->
		<emailAdress>brunopib@gmail.com, jnve@gft.com</emailAdress>
	</mail>
	
	<!-- (required) settings to pscp -->
	<pscp>
		<username>userPscpSample</username>
		<server>http://127.0.0.1/</server>
		<directory>sampleDirectory</directory>
	</pscp>
	
	<!--
		the settings to a specified app
		must follows the tag order;
			connection (required)
			procedures (optional)
			query (required)
			keyfile (required)
	-->
	<application name="">
		<!-- jdbc connection -->
		<connection>
			<driverClass>com.mysql.jdbc.Driver</driverClass>
			<url>jdbc:mysql://127.0.0.1:3306/gatekeeper_br</url>
			<username>root</username>
			<password>gftgft</password>
		</connection>
		
		<procedures>
			<procedure></procedure>
			<procedure></procedure>
			<procedure></procedure>
		</procedures>
		
		<!-- 
			the select fields must follows the order (requirement development);
			environment, system, id, last-login, rights, disabled, first-name, last-name,
			full-name, owner, owner-type, personal, priv, start-date, expiry, description, node,
			approver, auth-contact, group-name 
		-->
		<query>
			select environment 'environment',
					system 'system',
					idapp 'id',
					lastlogin 'last-login',
					rights 'rights',
					disabled 'disabled',
					firstname 'first-name',
					lastname 'last-name',
					fullname 'full-name',
					owner 'owner',
					ownertype 'owner-type',
					personal 'personal',
					priv 'priv',
					startdate 'start-date',
					expiry 'expiry',
					description 'description',
					node 'node',
					approver 'approver',
					authcontact 'auth-contact',
					groupname 'group-name'
			from gatekeeper_br
			order by id
		</query>
		
		<keyfile>
			<name></name>
			<location></location>
		</keyfile>	
	</application>
</gatekeeperbr>