<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Acesso ao Emprego</title>
<link href="css/base.css" rel="stylesheet" type="text/css" />
<link href="css/header.css" rel="stylesheet" type="text/css" />
<link href="css/footer.css" rel="stylesheet" type="text/css" />
<link href="css/conteudo.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="all">
<div id="cabecalho"> </div>

    <div id="content">
      	
      
        <form id="filtros">
        <h1 id="filtro">Filtros</h1>
        	<ul>
            	<li><label>Cidade:</label><select><option>Selecione</option></select></li>
                <li><label>Sexo:</label><select><option>Selecione</option></select></li>
                <li><label>Faixa Etária:</label><select><option>Selecione</option></select></li>
                <li><label>Área:</label><select><option>Selecione</option></select></li>
                <li><input  type="button" value="Pesquisar"/></li>
            </ul>
        </form>
        
        <div id="curriculo-area">
        	<h1 id="curriculo">Currículo por Área</h1>
                <ul id="curriculo-area">
                        <li class="tit">Total</li>
                        <li class="soma-total">3.602</li>
                        <li class="area"> Administração</li>
                        <li class="total">2.286</li>
                        <li class="area">Comercial e Vendas</li>
                        <li class="total">1.182</li>
                        <li class="area">Informática</li>
                        <li class="total">486</li>
                        <li class="area">Financeira</li>
                        <li class="total">309</li>
                        <li class="area">Técnica</li>
                        <li class="total">308</li>
                        <li class="area">Telemarketing</li>
                        <li class="total">297</li>
                        <li class="passar">
                        <input type="button" class="ir" value=""
                        /> <input type="button" class="vir" value="" /> </li>
                </ul>
        </div>
		<div id="curriculo-cargo">
       	 	<h1 id="Curriculo-cargo"> Curriculo por Cargo</h1>
            
             <ul id="comercial-vendas"> Comercial e Vendas
             
                        <li class="area"> Gerente de Vendas</li>
                        <li class="total">50</li>
                        <li class="area">Analista Funcional</li>
                        <li class="total">20</li>
                        <li class="area">Informática</li>
                        <li class="total">486</li>
                        <li class="area">Analista Comercial</li>
                        <li class="total">18</li>
                        <li class="area">Vendedor</li>
                        <li class="total">15</li>
                        
                        </ul>
        </div>
        <div id="lista-curriculo">
        	<h1 id="lista-curriculo">Lista de Currículos</h1>
            	<ul id="lista-curriculo">
                		<li class="nome">Ana Carolina Souza</li>
                        <li class="vizualizar"><input type="button"  value=""/></li>
                        <li class="nome">Anamara Geliciana Cordeiro</li>
                        <li class="vizualizar"><input type="button"  value=""/></li>
                        <li class="nome">Bruno da Silva Arantes</li>
                        <li class="vizualizar"><input type="button"  value=""/></li>
                        <li class="nome">Carolina Pereira da Silva</li>
                        <li class="vizualizar"><input type="button"  value=""/></li>
                        <li class="nome">Carlos Emanuel</li>
                        <li class="vizualizar"><input type="button"  value=""/></li>
                        <li class="nome">Dulce Maria de Souza</li>
                        <li class="vizualizar"><input type="button"  value=""/></li>
                        <li class="nome">Ana Carolina Souza</li>
                        <li class="vizualizar"><input type="button"  value=""/></li>
                        <li class="nome">Eugênia Barbosa da Silva</li>
                        <li class="vizualizar"><input type="button"  value=""/></li>
                        <li class="nome">Fátima Soares</li>
                        <li class="vizualizar"><input type="button"  value=""/></li>
                        <li class="nome">Gilson Albuquerque Santos</li>
                        <li class="vizualizar"><input type="button"  value=""/></li>
                        <li class="nome">Hilma da Silva</li>
                        <li class="vizualizar"><input type="button"  value=""/></li>
                        <li class="nome">José Carlos Figuereido</li>
                        <li class="vizualizar"><input type="button"  value=""/></li>
                        <li class="nome">Karla Cristina </li>
                        <li class="vizualizar"><input type="button"  value=""/></li>
                        <li class="nome">Maria da Conceição</li>
                        <li class="vizualizar"><input type="button"  value=""/></li>
                        <li class="nome">Otáviano Costa</li>
                        <li class="vizualizar"><input type="button"  value=""/></li>
                        <li class="nome">Nara Feliciano</li>
                        <li class="vizualizar"><input type="button"  value=""/></li>
                        <li class="nome">Otáviano Costa</li>
                        <li class="vizualizar"><input type="button"  value=""/></li>
                        <li class="nome">Paula Souza</li>
                        <li class="vizualizar"><input type="button"  value=""/></li>
                        <li class="nome">Paula Ribeiro</li>
                        <li class="vizualizar"><input type="button"  value=""/></li>
                        <li class="nome">Raimundo Ferreira de Brito</li>
                        <li class="vizualizar"><input type="button"  value=""/></li>
                </ul>
        </div>
        
    </div>

</div>
</body>
</html>