<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<description>Barganhas ponto com</description>
 	<display-name>Barganhas.com</display-name>
 	
 	<!-- richfaces -->
 	<context-param>
        <param-name>org.richfaces.SKIN</param-name>
        <param-value>blueSky</param-value>
    </context-param>
	<context-param>
        <param-name>org.richfaces.enableControlSkinning</param-name>
        <param-value>false</param-value>
    </context-param>
	<context-param>
        <param-name>org.richfaces.fileUpload.createTempFiles</param-name>
        <param-value>true</param-value>
    </context-param>
 	
 	<!-- required initial parameters -->
 	<context-param>
  		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
  		<param-value>server</param-value>
 	</context-param>
 	<context-param>
		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.xhtml</param-value>
	</context-param>
 	<context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
		<!-- the value Production is required even in development mode to GAE -->
<!--         <param-value>Production</param-value> -->
        <param-value>Development</param-value>
    </context-param>
    <context-param>
 		<param-name>javax.faces.FACELETS_REFRESH_PERIOD</param-name>
		<!-- AO PUBLICAR NO CLIENTE SETAR: -1 -->
 		<param-value>2</param-value>
 	</context-param>
 	<context-param>
	    <param-name>javax.faces.CONFIG_FILES</param-name>
	    <param-value>
	    	/WEB-INF/jsf/faces-config.xml,
	    	/WEB-INF/jsf/navigation-rules.xml,
	    	/WEB-INF/jsf/componentes.xml
	    </param-value>
	</context-param>
	<context-param>
	    <param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
	    <param-value>true</param-value>
	</context-param>
	<context-param>
  		<param-name>javax.faces.FACELETS_LIBRARIES</param-name>
  		<param-value>
  			/WEB-INF/tags/custom.taglib.xml;
		</param-value>
 	</context-param>
 	<context-param>
		<param-name>com.sun.faces.allowTextChildren</param-name>
		<param-value>true</param-value>
	</context-param>
	
	<!-- Disable use of threading for single-threaded environments such as
     the Google AppEngine. -->
	<context-param>
		<param-name>com.sun.faces.enableThreading</param-name>
		<param-value>false</param-value>
		<description>
			When enabled, the runtime initialization and default ResourceHandler 
			implementation will use threads to perform their functions. Set this 
			value to false if threads aren't desired (as in the case of running 
			within the Google Application Engine).
			
			Note that when this option is disabled, the ResourceHandler will not 
			pick up new versions of resources when ProjectStage is development.
		</description>
	</context-param>
	
	<!-- spring framework -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/applicationContext.xml</param-value>
	</context-param>

	<!-- filters -->
	<filter>
	  	<filter-name>AdmAccessFilter</filter-name>
	  	<filter-class>br.com.barganhas.web.converters.AdmAccessFilter</filter-class>
  	</filter>
  	
  	<!-- filter mappings -->
	<filter-mapping>
		<filter-name>AdmAccessFilter</filter-name>
		<url-pattern>*.jsf</url-pattern>
		<url-pattern>/xhtml/admin/*</url-pattern>
  	</filter-mapping>

	<!-- listeners -->	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  	</listener>
	<listener>
		<listener-class>br.com.barganhas.web.beans.AppLoadListener</listener-class>
  	</listener>
	
	<!-- SERVLETS -->
	<servlet>
  		<servlet-name>FacesServlet</servlet-name>
  		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
  		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
  		<servlet-name>FacesServlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
 	</servlet-mapping>
 	
 	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
 	
 	<welcome-file-list>
  		<welcome-file>index.jsp</welcome-file>
 	</welcome-file-list>
 	
 	<mime-mapping>
 		<extension>xcss</extension>
 		<mime-type>text/css</mime-type>
 	</mime-mapping>
 	
 	<login-config>
 		<auth-method>BASIC</auth-method>
 	</login-config>
</web-app>