<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="barganhas.com"
    version="2.5">

 	<display-name>vendas e barganhas</display-name>
 	<welcome-file-list>
  		<welcome-file>index.jsp</welcome-file>
 	</welcome-file-list>
 	
	<!-- spring framework -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/applicationContext.xml</param-value>
	</context-param>

	<!-- listeners -->	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  	</listener>
	<listener>
		<listener-class>br.com.barganhas.web.beans.AppLoadListener</listener-class>
  	</listener>
	
	<!-- SERVLETS -->
	<servlet>
  		<servlet-name>CounterEntitiesServlet</servlet-name>
  		<servlet-class>br.com.barganhas.web.servlets.CounterEntitiesServlet</servlet-class>
	</servlet>
	<servlet>
  		<servlet-name>ExportingAboutSiteServlet</servlet-name>
  		<servlet-class>br.com.barganhas.web.servlets.ExportingAboutSiteServlet</servlet-class>
	</servlet>
	<servlet>
  		<servlet-name>ExportingUseTermServlet</servlet-name>
  		<servlet-class>br.com.barganhas.web.servlets.ExportingUseTermServlet</servlet-class>
	</servlet>
	<servlet>
  		<servlet-name>ExportingStateServlet</servlet-name>
  		<servlet-class>br.com.barganhas.web.servlets.ExportingStateServlet</servlet-class>
	</servlet>
	<servlet>
  		<servlet-name>ExportingCityServlet</servlet-name>
  		<servlet-class>br.com.barganhas.web.servlets.ExportingCityServlet</servlet-class>
	</servlet>
	<servlet>
  		<servlet-name>ExportingSalesServlet</servlet-name>
  		<servlet-class>br.com.barganhas.web.servlets.ExportingSalesServlet</servlet-class>
	</servlet>
	<servlet>
  		<servlet-name>ExportingCategoryServlet</servlet-name>
  		<servlet-class>br.com.barganhas.web.servlets.ExportingCategoryServlet</servlet-class>
	</servlet>
	<servlet>
  		<servlet-name>ExportingAdvertisementTypeServlet</servlet-name>
  		<servlet-class>br.com.barganhas.web.servlets.ExportingAdvertisementTypeServlet</servlet-class>
	</servlet>
	<servlet>
  		<servlet-name>ExportingAdministratorServlet</servlet-name>
  		<servlet-class>br.com.barganhas.web.servlets.ExportingAdministratorServlet</servlet-class>
	</servlet>
	<servlet>
  		<servlet-name>ExportingFileServlet</servlet-name>
  		<servlet-class>br.com.barganhas.web.servlets.ExportingFileServlet</servlet-class>
	</servlet>
	<servlet>
  		<servlet-name>ExportingUserAccountServlet</servlet-name>
  		<servlet-class>br.com.barganhas.web.servlets.ExportingUserAccountServlet</servlet-class>
	</servlet>
	<servlet>
  		<servlet-name>ExportingAdvertisementPictureServlet</servlet-name>
  		<servlet-class>br.com.barganhas.web.servlets.ExportingAdvertisementPictureServlet</servlet-class>
	</servlet>
	<servlet>
  		<servlet-name>ExportingAdvertisementServlet</servlet-name>
  		<servlet-class>br.com.barganhas.web.servlets.ExportingAdvertisementServlet</servlet-class>
	</servlet>
	<servlet>
  		<servlet-name>ExportingAdvertisementRelationshipAdvertisementPictureServlet</servlet-name>
  		<servlet-class>br.com.barganhas.web.servlets.ExportingAdvertisementRelationshipAdvertisementPictureServlet</servlet-class>
	</servlet>
	
	<!-- SERVLET MAPPINGS -->
	<servlet-mapping>
  		<servlet-name>CounterEntitiesServlet</servlet-name>
		<url-pattern>/counterEntities</url-pattern>
 	</servlet-mapping>
	<servlet-mapping>
  		<servlet-name>ExportingAboutSiteServlet</servlet-name>
		<url-pattern>/exportingAboutSite</url-pattern>
 	</servlet-mapping>
	<servlet-mapping>
  		<servlet-name>ExportingUseTermServlet</servlet-name>
		<url-pattern>/exportingUseTerm</url-pattern>
 	</servlet-mapping>
	<servlet-mapping>
  		<servlet-name>ExportingStateServlet</servlet-name>
		<url-pattern>/exportingState</url-pattern>
 	</servlet-mapping>
	<servlet-mapping>
  		<servlet-name>ExportingCityServlet</servlet-name>
		<url-pattern>/exportingCity</url-pattern>
 	</servlet-mapping>
	<servlet-mapping>
  		<servlet-name>ExportingSalesServlet</servlet-name>
		<url-pattern>/exportingSales</url-pattern>
 	</servlet-mapping>
	<servlet-mapping>
  		<servlet-name>ExportingCategoryServlet</servlet-name>
		<url-pattern>/exportingCategory</url-pattern>
 	</servlet-mapping>
	<servlet-mapping>
  		<servlet-name>ExportingAdvertisementTypeServlet</servlet-name>
		<url-pattern>/exportingAdvertisementType</url-pattern>
 	</servlet-mapping>
	<servlet-mapping>
  		<servlet-name>ExportingAdministratorServlet</servlet-name>
		<url-pattern>/exportingAdministrator</url-pattern>
 	</servlet-mapping>
	<servlet-mapping>
  		<servlet-name>ExportingFileServlet</servlet-name>
		<url-pattern>/exportingFile</url-pattern>
 	</servlet-mapping>
	<servlet-mapping>
  		<servlet-name>ExportingUserAccountServlet</servlet-name>
		<url-pattern>/exportingUserAccount</url-pattern>
 	</servlet-mapping>
	<servlet-mapping>
  		<servlet-name>ExportingAdvertisementPictureServlet</servlet-name>
		<url-pattern>/exportingAdvertisementPicture</url-pattern>
 	</servlet-mapping>
	<servlet-mapping>
  		<servlet-name>ExportingAdvertisementServlet</servlet-name>
		<url-pattern>/exportingAdvertisement</url-pattern>
 	</servlet-mapping>
	<servlet-mapping>
  		<servlet-name>ExportingAdvertisementRelationshipAdvertisementPictureServlet</servlet-name>
		<url-pattern>/exportingAdvertisementRelationshipAdvertisementPicture</url-pattern>
 	</servlet-mapping>
 	
 	<session-config>
		<session-timeout>120</session-timeout>
	</session-config>
 	
 	<mime-mapping>
 		<extension>xcss</extension>
 		<mime-type>text/css</mime-type>
 	</mime-mapping>
 	
 	<login-config>
 		<auth-method>BASIC</auth-method>
 	</login-config>
</web-app>